* {
    box-sizing: border-box;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #FFB900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.heading-lv2 {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.27;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0px 16px;
    min-width: 118px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #FFFCF4;
    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header.fixed {
    position: sticky;
    top: -28px;
    background: #ffeeb7;
    z-index: 1;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0px 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    display: inline-block;
    position: relative;
    font-size: 1.6rem;
    color: #5F5B53;
    padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
    color: #171100;
    text-shadow: 1px 0px 0px currentColor;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    width: 12px;
    height: 2px;
    content: "";
    border-radius: 1px;
    background: #171100;
}

.header .btn-sign-up {
    min-width: 144px;
}

/* ========================================================= Hero ============================================================================ */

.hero {
    padding: 56px 0 65px;
    background: #FFFCF4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-summary {
    position: absolute;
    bottom: 48px;
    right: 0px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px #0000000D;
    width: 270px;
    padding: 24px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item+.item {
    margin-top: 22px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    color: #5F5B53;
    font-size: 1.4rem;
    line-height: 1.86;
}

.hero-summary .title {
    color: #171100;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
}

/* =========== hero right ============ */

.hero .content-block {
    width: 52%;
    padding-left: 130px;
    padding-top: 64px
}

.hero .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero .desc {
    margin-top: 22px;
    color: #5F5B53;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero .btn-cta {
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    margin-left: 28px;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px #00000012;
}

.hero .watch-video span {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    margin-left: 14px;
}

.hero .desc-recent {
    margin-top: 48px;
}

.hero .stats strong {
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
    margin-right: 15px;
    font-family: var(--primary-color)
}

.hero .stats strong:nth-child(2) {
    margin-left: 28px;
}

.hero .stats {
    margin-top: 8px;
}

/* ========================================= popular ======================================== */

.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    font-family: var(--font-heading);
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .btn-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .btn-controls:hover {
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

/* ===================== popular bottom ===========================*/

.popular .course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .course-list .course-item {
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.popular .course-list .course-item:hover {
    border-radius: 12px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 18px 36px 0px #0000000D;

}

.course-list .course-item .thumb {
    width: 370px;
    height: 278px;
    width: 100%;
    object-fit: cover;
}

.course-list .course-item .info {
    padding: 16px 22px 22px;
}

.course-list .course-item .foot,
.course-list .course-item .rating,
.course-list .course-item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-list .course-item .title {
    color: #171100;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;

}

.course-list .course-item .star {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 6px;
}

.course-list .course-item .value {
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--primary-color);
}

.course-list .course-item .desc {
    font-size: 1.4rem;
    line-height: 1.86;
    margin-top: 6px;
    color: #5F5B53;

}

.course-list .course-item .foot {
    margin-top: 12px;
}

.course-item .foot .price {
    color: #171100;
    font-weight: 600;
    font-size: 1.8srem;
    line-height: 1.67;
}

.course-list .foot .btn-book-now:hover {
    background: var(--primary-color);
}

.course-list .foot .btn-book-now {
    border: none;
}

.course-item a img {
    cursor: pointer;
}